body {
    background-color: ##ffdab9;
}

h1 {
font-family: 'Bitter', serif;
}

h2 {
font-family: 'Bitter', serif;
}


p {
font-family: 'Open Sans', sans-serif;
}

li {
font-family: 'Open Sans', sans-serif;
}
